<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Youtube Video Downloader</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <link rel="shortcut icon" href="../static/logo.jpg" type="image/x-icon">
    <script type="module" src="./script.js"></script>
</head>
<body>
    <div class="display">
            <h1>Youtube video downloader</h1>
        <form action="/download" method="post">
                <!-- <label for="video-url">Enter video url</label> -->
                <input type="text" id="video-url" name="video-url" required autocomplete="off" placeholder="Enter URL here."/>
                <button>Download</button>
        </form>
    </div>
</body>
</html>