<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Downloader</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <link rel="shortcut icon" href="../static/logo.jpg" type="image/x-icon">
    <script defer src="../static/script.js"></script>
</head>

<body>
    <div class="display">
        <h1>Video Downloader</h1>
        <form action="/download" method="post">
            <input type="text" id="video-url" name="video-url" required autocomplete="off"
                placeholder="Enter URL here." title="Alt+Enter" />
                <select name="format" id="">
                    <option value="" selected disabled>Select media format</option>
                    <option value="mp4">mp4</option>
                    <option value="mp3">mp3</option>
                </select>
            <button title="Enter">Download</button>
        </form>
    </div>
</body>

</html>